<section id="education">
  <div class="container6">
    <h1>EDUCATION</h1>
    <div class="contains">
      <div class="left1">
        <div class="lefts">
          <span class="date"><strong>2017-2019</strong></span>
          <h2 class="heading">Computer Science</h2>
          <br />
          <span class="position">KATHMANDU MODEL COLLEGE</span>
          <!-- <p class="para">Grade: First Division</p> -->
        </div>
      </div>
      <div class="right1">
        <div class="rights">
          <span class="date"><strong>2020-2024</strong></span>
          <h2 class="heading">BCS IT</h2>
          <br />
          <span class="position">SUNWAY INTERNATIONAL SCHOOL</span>
          <!-- <p class="para">Grade: First Division</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

