<div class="contact">
  <div class="address">
    <div class="addresslogo">
      <i class="fa-solid fa-location-dot fa-3x icons"></i>
    </div>
    <div>
      <h4 class="contactH4">Address</h4>
      <br />
      <p>Kathmandu, Nepal</p>
    </div>
  </div>
  <div class="contacts">
    <div class="contactlogo">
      <i class="fa-solid fa-address-book fa-3x icons"></i>
    </div>
    <div>
      <h4 class="contactH4">Contact</h4>
      <br />
      <p>+977 9813262553</p>
    </div>
  </div>
  <div class="email">
    <div class="emaillogo">
      <i class="fa-regular fa-envelope fa-3x icons"></i>
    </div>
    <div>
      <h4 class="contactH4">Email</h4>
      <br />
      <p>bhandari86@gmail.com</p>
    </div>
  </div>
  <div class="resume">
    <a href="/image/resume.pdf" download class="resume-link">
      <div class="resumelogo">
        <i class="fa-sharp fa-solid fa-file fa-3x icons"></i>
      </div>
      <div>
        <h4 class="contactH4">Resume</h4>
        <br />
        <p>Click to download</p>
      </div>
    </a>
  </div>
</div>
<div class="Copyrights">
  <p>Copyright by @Sabin Bhandari</p>
</div>
