<section id="about">
  <div class="container2">
    <h1>ABOUT ME</h1>
    <div class="about-content">
      <div class="about-image">
        <img src="assets/images/pro.png" alt="Profile Image" />
      </div>
      <div class="about-text">
        <p>
          I am passionate about web development with a strong aptitude for
          problem-solving and effective communication. Dedicated to delivering
          high-quality products that meet customer expectations, I thrive in
          collaborative environments and continuously seek to enhance my skills
          through professional development and active participation in the tech
          community. I am passionate about web development with a strong
          aptitude for problem-solving and effedtive hardworking in the context
          of not making having solivng and problem
        </p>
      </div>
    </div>
  </div>
</section>
